{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="row col-12 mb-2">
        <div class="col-sm-6">
            <img src="{{user.profile.image.url}}" width="152" height="152" class="ml-5 float-right rounded-circle border">
        </div>
        
        
            <div style="margin-bottom: 20px;">
                <h3 style="horizontal-align: middle">{{user.username}}</h3>
                
            <div><span>{{ user.profile.bio }}</span></div>
        </div>
    </div>
{% for project in projects%}
{% if project.user == user.profile.user %}
<div class="row">
  <div class="col-md-4">
  <div class="card text-center p-2 m-2">
    <img src={{project.project_image.url}} class="img-fluid">
      <p class="card-text"><strong>{{project.project_name}}</strong></p>
    <p class="card-text">{{project.date_posted}}</p>
     <a class="card-text text-center" href="{{project.project_url}}">Visit site</a>
     <div class="row">
        <div class="col-md-6">
          <img  src="{{project.user.profile.image.url}}" width="35" height="35" class="rounded-circle border userimage">
          
       </div>
       <div class="col-md-6">
           
       </div>
      </div>
   </div> 
</div>
{% endif %}
{% endfor %}
    
{% endblock %}